link(rel='apple-touch-icon' sizes='180x180' href=siteURL+'/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href=siteURL+'/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='192x192' href=siteURL+'/android-chrome-192x192.png')
link(rel='icon' type='image/png' sizes='16x16' href=siteURL+'/favicon-16x16.png')
link(rel='manifest' href=siteURL+'/site.webmanifest')
link(rel='mask-icon' href=siteURL+'/safari-pinned-tab.svg' color='#5bbad5')
link(rel="shortcut icon" href=siteURL+"/img/invalid/favicon.ico")
meta(name='msapplication-TileColor' content='#009bdf')
meta(name='theme-color' content='#009bdf')